<app-nav-menu></app-nav-menu>

<div class="darken" *ngIf="isModalOpen">
  <div class="background">

    <div class="display-container">
      <div class="header">
        <span class="modal-title">ADD TRAINER CLASS</span>
        <button (click)="closeModal()" class="exit">&#x2716;</button>
      </div>
      <div class="line"></div>
      <div class="input-data">
        <div class="row">
          <div class="input-row">
            <span class="row-text">Trainer</span>
            <input [disabled]="true" type="text" [(ngModel)]="newClass.lname">
          </div>
          <div class="input-row">
            <span class="row-text">Price</span>
            <input type="number" [(ngModel)]="newClass.price">
          </div>
        </div>
        <div class="row">
          <div class="input-row">
            <span class="row-text">Start Time</span>
            <input type="time" [(ngModel)]="newClass.start_time">
          </div>
          <div class="input-row">
            <span class="row-text">End Time</span>
            <input type="time" [(ngModel)]="newClass.end_time">
          </div>
        </div>
        <div class="row">
          <div class="input-row">
            <span class="row-text">Weekdays</span>
            <div class="modal-check-container">
              <ng-container *ngFor="let option of modalWeekdays">
                <span class="input-item">{{ option.label }}</span>
                <input class="group-check" type="checkbox" [id]="option.id" name="modal" [value]="option.value"
                       [checked]="isWeekdaySelected(option.label)" (change)="onCheckboxChange(option.value)">
                <label style="margin-right: 0.7vw; padding-right: 0.2vw" [for]="option.id"><span class="checkmark">&#x2713;</span></label>
              </ng-container>
            </div>
          </div>
        </div>

      </div>
      <div class="line"></div>
      <div class="modal-footer">
        <button class="create" (click)="addClass()">CREATE</button>
      </div>
    </div>

  </div>
</div>

<div class="container" *ngIf="!isModalOpen">

  <div class="filter-bar">
    <div class="top-part">
      <span class="title">FILTERS</span>
      <button class="apply" (click)="applyFilters()">APPLY</button>
    </div>

    <div class="group">

      <div class="line"></div>
      <div class="group-row">
        <span class="group-title">Price</span>
        <div class="open-group group-item" (click)="showPrice()">{{ this.arrowSignP }}</div>
      </div>
      <div class="line"></div>

      <ng-container *ngFor="let option of priceOptions">
        <div class="group-content" *ngIf="priceShow">
          <div class="group-row">
            <span class="group-item">{{ option.label }}</span>
            <input class="group-check" type="radio" [id]="option.id" name="group1" (change)="onPriceChange(option.id)">
            <label [for]="option.id"><span class="checkmark">&#x2713;</span></label>
          </div>
        </div>
      </ng-container>

    </div>

    <div class="group">

      <div class="line"></div>
      <div class="group-row">
        <span class="group-title">Weekdays</span>
        <div class="open-group group-item" (click)="showWeekdays()">{{ this.arrowSignW }}</div>
      </div>
      <div class="line"></div>

      <ng-container *ngFor="let option of weekdaysOptions">
        <div class="group-content" *ngIf="weekdaysShow">
          <div class="group-row">
            <span class="group-item">{{ option.label }}</span>
            <input class="group-check" type="checkbox" [id]="option.id" name="group1" [value]="option.value"
                   [checked]="isWeekdaySelected(option.label)" (change)="onCheckboxChange(option.value)">
            <label [for]="option.id"><span class="checkmark">&#x2713;</span></label>
          </div>
        </div>
      </ng-container>

    </div>

    <div class="group">

      <div class="line"></div>
      <div class="group-row">
        <span class="group-title">Time</span>
        <div class="open-group group-item" (click)="showTime()">{{ this.arrowSignT }}</div>
      </div>
      <div class="line"></div>

      <div class="group-content" *ngIf="timeShow">
        <div class="group-row">
          <span class="group-item">Start time:</span><input class="time-input" type="time" name="startTime" [(ngModel)]="filterDTO.startTime">
        </div>
        <div class="group-row">
          <span class="group-item">End time:</span><input class="time-input" type="time" name="endTime" [(ngModel)]="filterDTO.endTime">
        </div>
      </div>

    </div>

    <div class="line bot-line"></div>

  </div>

  <div class="cards-section">
    <ng-container *ngFor="let tclass of this.trainerClasses">
      <div class="card">
        <div class="card-title">
          <span class="price">{{tclass.price + "$"}}</span>
          <span class="card-name">{{tclass.fname + ' ' + tclass.lname}}</span>
        </div>
        <div class="card-content">
          <span class="card-text">Weekdays: {{tclass.weekdays.join(', ')}}</span>
          <span class="card-text">Time: {{tclass.start_time + '-' + tclass.end_time}}</span>
        </div>
        <div class="card-footer">
          <button *ngIf="this.role === 0" class="purchase" (click)="purchaseClass(tclass.id)">PURCHASE</button>
          <button *ngIf="this.role === 1 || this.role === 2" class="purchase" (click)="deleteClass(tclass.id)">DELETE</button>
        </div>
      </div>
    </ng-container>
    <div class="card" *ngIf="role === 2">
      <div class="create-container">
        <button class="add" (click)="openModal()"><span>&#xFF0B;</span></button>
      </div>
    </div>
  </div>

</div>

<style>

  .input-item {
    color: white;
    font-family: "Pragati Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;
    line-height: 2;
    padding-right: 0.7vw;
  }
  .modal-check-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
  }

  .modal-footer {
    display: flex;
    align-items: flex-end;
    width: 98%;
    height: 100%;
    padding-top: 1.5vh;
  }
  .create {
    color: #ffffff;
    background-color: #3B9972;
    border: none;
    border-radius: 0.35vw;
    font-family: "Pragati Narrow", sans-serif;
    font-style: normal;
    font-size: 1vw;
    width: 4.5vw;
    height: 4.5vh;
  }
  .create:hover {
    background-color: #40a67b;
    cursor: pointer;
  }
  .create:active {
    background-color: #45b686;
  }
  input, select {
    background-color: whitesmoke;
    border: none;
    border-radius: 0.5vw;
    height: 5vh;
    color: black;
    font-size: 1vw;
  }
  .row {
    display: flex;
    flex-direction: row;
    gap: 1vw;
  }
  .input-row {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  .row-text {
    color: #BEBEBE;
    font-family: "Ruda", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding-bottom: 0.7vh;
    font-size: 1vw;
    margin-top: 2vh;
  }
  .input-data {
    width: 100%;
    height: 45.5vh;
    display: flex;
    flex-direction: column;
    padding-left: 3vw;
    padding-top: 3vw;
  }
  .line {
    background: white;
    width: 100%;
    height: 0.1vh;
  }
  .modal-title {
    color: white;
    font-family: "Pragati Narrow", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.25vw;
    line-height: 2;
    letter-spacing: 0.3vw;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 20%;
    padding-left: 1.5vw;
    gap: 8vw;
  }
  .exit {
    background: none;
    border: none;
    color: white;
    font-size: 2vw;
    cursor: pointer;
    margin-top: -0.4vw;
  }
  .exit:hover {
    color: #52CD99;
  }
  .darken {
    margin-left: -1vw;
    padding-top: 7vh;
    position: fixed;
    width: 101vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.30);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .background {
    background-color: rgba(0, 0, 0, 0.60);
    width: 35%;
    height: 70%;
    border: none;
    border-radius: 0.6vw;
    box-shadow: 0 0 7px #45b686;
  }
  .display-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .modal-footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .create-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .add {
    border-radius: 3vw;
    border: none;
    width: 5vw;
    height: 5vw;
    font-family: "Pragati Narrow", sans-serif;
    font-style: normal;
    font-size: 4vw;
    color: white;
    background-color: #3B9972;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .add:hover {
    cursor: pointer;
    background-color: #40a67b;
  }
  .add:active {
    background-color: #45b686;
  }

  .time-input {

    background-color: rgba(0, 0, 0, 0.65);
    border: none;
    border-radius: 0.3vw;
    width: 6vw;
    height: 4.5vh;
    color: #BEBEBE;
    font-size: 1vw;
  }

  .top-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .apply {
    margin-right: 0.7vw;
    margin-top: -0.3vh;
    width: 4vw;
    height: 4vh;
    background-color: #3B9972;
    color: white;
    font-family: "Pragati Narrow", sans-serif;
    font-style: normal;
    font-size: 1vw;
    border-radius: 0.5vw;
    border: none;
  }
  .open-group:hover {
    cursor: pointer;
  }
  .container {
    padding-top: 20vh;
    padding-left: 2vw;
    display: flex;
    flex-direction: row;
    gap: 2vw;
  }
  .card-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding-left: 5.25vw;
    padding-top: 3vh;
  }
  .card-text {
    color: white;
    font-family: "Pragati Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;
    line-height: 2;
    letter-spacing: 0.1vw;
  }
  .card-name {
    color: #52CD99;
    font-family: "Pragati Narrow", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.25vw;
    line-height: 1;
    letter-spacing: 0.3vw;
  }
  .card-footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 10vh;
  }
  .purchase {
    margin-top: 3.3vh;
    margin-right: 1.5vw;
    width: 6vw;
    height: 4vh;
    background-color: #3B9972;
    color: white;
    font-family: "Pragati Narrow", sans-serif;
    font-style: normal;
    font-size: 1vw;
    border-radius: 0.5vw;
    border: none;
  }
  .purchase:hover, .apply:hover {
    background-color: #40a67b;
    cursor: pointer;
  }
  .purchase:active, .apply:active {
    background-color: #45b686;
  }
  .cards-section {
    display: grid;
    gap: 1vw;
    grid-template-columns: auto repeat(2, auto);
    margin-left: 1.25vw;
  }
  .card {
    background: rgba(0,0,0,0.60);
    width: 22.5vw;
    height: 60vh;
    border: none;
    border-radius: 0.6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card:hover {
    box-shadow: 0 0 7px #45b686;
    cursor: pointer;
  }
  .price {
    color: white;
    font-family: "Pragati Narrow", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 4vw;
    line-height: 2;
    letter-spacing: 0.3vw;
    padding-top: 1vh;
  }
  .title {
    color: white;
    font-family: "Pragati Narrow", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.25vw;
    line-height: 2;
    letter-spacing: 0.3vw;
    padding-left: 1.0vw;
  }
  .group {
    display: flex;
    flex-direction: column;
  }
  .group-content {
    display: flex;
    flex-direction: column;
  }
  .group-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
  }
  input[type="radio"] {
    display: none;
  }
  input[type="checkbox"] {
    display: none;
  }
  .checkmark {
    color: white;
    padding-left: 0.25vw;
    font-weight: bolder;
    font-size: 1vw;
  }
  input[type="radio"] + label, input[type="checkbox"] + label {
    display: inline-block;
    width: 1.4vw;
    height: 3vh;
    background-color: rgba(90, 90, 90, 0.7);
    border: none;
    cursor: pointer;
  }
  input[type="radio"]:checked + label, input[type="checkbox"]:checked + label {
    background-color: #4ce07a;
  }
  .group-item {
    color: white;
    font-family: "Pragati Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;
    line-height: 2;
    padding-left: 1vw;
  }
  .line {
    background: white;
    width: 100%;
    height: 0.1vh;
  }
  .bot-line {
    margin-top: 1vh;
  }
  .group-title {
    color: white;
    font-family: "Pragati Narrow", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8vw;
    line-height: 2;
    letter-spacing: 0.2vw;
    padding-left: 1vw;
  }
  .filter-bar {
    width: 20vw;
    height: 117.5vh;
    background: rgba(0,0,0,0.45);
    border: none;
    border-radius: 0.6vw;
  }
</style>
