<app-nav-menu></app-nav-menu>

<div class="mid-section">
  <div class="top-part">
    <div class="title"><span class="highlight">NOTHING</span> IS<br/>IMPOSSIBLE</div>
    <div class="text">
      Lorem ipsum dolor sit arrei, consectetur adipiscing elit.
      Vestibulum tempor  elend cursus.
      Pimin sapien odio, fringilla tincidunt interdum vitae,
      faucibus vitae magia mune euismod,
      turpis eget euismod suscipit, dui enim lobortis nisi
    </div>
  </div>
  <div class="bot-part"></div>
  <div class="bot-title">IT'S<span class="highlight"> NOT</span> OVER<br/>
    UNTIL<span class="highlight"> YOU</span> STOP<br/>TRYING</div>
</div>

<style>

  .top-part {
    margin-left: 2.5vw;
    margin-top: 2.5vw;
    width: 22vw;
    height: 40vh;
    border-top: 2vw solid rgba(31, 118, 81, 0.5);
    border-left: 2vw solid rgba(31, 118, 81, 0.5);
    padding-left: 1.5vw;
    padding-top: 2vh;
  }
  .bot-part {
    margin-left: 67.5vw;
    margin-top: -20vh;
    width: 27.5vw;
    height: 40vh;
    border-bottom: 2vw solid rgba(31, 118, 81, 0.5);
    border-right:  2vw solid rgba(31, 118, 81, 0.5);
  }
  .title {
    color: white;
    font-family: "Pragati Narrow", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 4vw;
    line-height: 1;
    text-align: justify;
  }
  .bot-title {
    color: white;
    font-family: "Pragati Narrow", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 4vw;
    line-height: 1;
    text-align: justify;
    margin-left: 68.75vw;
    margin-top: -37.5vh;
  }
  .highlight {
    color: #52CD99;
  }
  .text {
    padding-top: 1vh;
    color: white;
    font-family: "Pragati Narrow", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: justify;
    font-size: 1.2vw;
  }
</style>
