<app-nav-menu></app-nav-menu>
<div class="container">

  <div class="profile-bar">

    <div class="name-container">
      <span class="title">{{ currentAdmin.firstName + ' ' + currentAdmin.lastName }}</span>
    </div>
    <div class="line"></div>

    <div class="profile-content">
      <span class="text">Wage: {{ currentAdmin.wage + '$'}}</span>
      <span class="text">Corporate address:<br>{{currentAdmin.email}}</span>
      <span class="text">Registration date: {{getShortDate(currentAdmin.regDate)}}</span>
      <div class="protocol-data">
        <select style='margin-left: 1vw;' class="months-select" [(ngModel)]="hoursCount">
          <option value="1">Last hour</option>
          <option value="24">Last day</option>
          <option value="148">Last week</option>
        </select>
        <button style='margin-left: 0.5vw;' class="export" (click)="exportProtocol()">Export Protocol</button>
      </div>
      <div class="line"></div>
    </div>

  </div>


  <div class="main-section">

    <span class="main-title">Gym Statistics</span>
    <div class="chart-background">
      <div class="sub-title">
        <span class="title" style="font-size: 1.75vw;">Accounting</span>
      </div>
      <div class="chart-options-container">
        <select style="margin-top: -0.1vh;" class="months-select" [(ngModel)]="monthsCount">
          <option value="3">Last 3 Months</option>
          <option value="6">Last 6 Months</option>
          <option value="12">Last 12 Months</option>
        </select>
        <button style="margin-left: 0.5vw; width: 4vw; height: 3.5vh; font-size: 0.9vw;"
                class="export" (click)="getChartData()">Apply</button>
      </div>
      <ngx-charts-line-chart style="margin-left: 2vw;"
        [view]="[1000, 375]"
        [xAxis]="true"
        [yAxis]="true"
        [showXAxisLabel]="true"
        [xAxisLabel]="'Months'"
        [showYAxisLabel]="true"
        [yAxisLabel]="'$$$'"
        [results]="results"
        [legend]="true"
        [legendTitle]="''"
        [showGridLines]="true"
        [animations]="false">
      </ngx-charts-line-chart>

      <div class="sub-title">
        <span class="title" style="font-size: 1.75vw;">Subscriptions</span>
      </div>

      <div class="chart-options-container">
        <button class="export" (click)="getSubscriptionsData()">Export JSON</button>
      </div>
      <ngx-charts-line-chart style="margin-left: 2vw; margin-top: 1vw;"
        [view]="[1000, 375]"
        [xAxis]="true" [yAxis]="true" [showXAxisLabel]="true" [xAxisLabel]="'Months'"
        [showYAxisLabel]="true"
        [yAxisLabel]="'Count'"
        [results]="results_sub"
        [legend]="true"
        [legendTitle]="''"
        [showGridLines]="true"
        [animations]="false">
      </ngx-charts-line-chart>
    </div>

  </div>

</div>

<style>

  .sub-title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .chart-options-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .months-select {
    background-color: rgba(0, 0, 0, 0.80);
    border: none;
    border-radius: 0.5vw;
    width: 8.5vw;
    height: 4vh;
    color: #BEBEBE;
    font-size: 1vw;
    margin-top: 0.8vw;
  }
  .export {
    color: #ffffff;
    background-color: #3B9972;
    border: none;
    border-radius: 0.35vw;
    font-family: "Pragati Narrow", sans-serif;
    font-style: normal;
    font-size: 1vw;
    width: 6vw;
    height: 4vh;
  }
  .export:hover {
    background-color: #40a67b;
    cursor: pointer;
  }
  .export:active {
    background-color: #45b686;
  }
  ::ng-deep .ngx-charts text {
    fill: #fff;
    font-family: 'Pragati Narrow', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1vw;
  }
  ::ng-deep .legend-labels text {
    fill: #fff;
    font-family: 'Pragati Narrow', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1vw;
  }

  .chart-background {
    background-color: rgba(0,0,0,0.60);
    border: none;
    border-radius: 0.6vw;
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 3vw;
    overflow-y: auto;
  }
  .container {
    padding-top: 20vh;
    padding-left: 2vw;
    display: flex;
    flex-direction: row;
    gap: 2vw;
  }
  tr {
    max-height: 10%;
  }
  th {
    width: 10vw;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .main-section {
    width: 72vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 22vw;
  }
  .profile-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5vh;
    margin-top: -1vw;
    height: 100%;
  }
  .main-title {
    color: white;
    font-family: "Pragati Narrow", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.25vw;
    line-height: 2;
    letter-spacing: 0.3vw;
    text-transform: uppercase;
  }
  .name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .title {
    color: white;
    font-family: "Pragati Narrow", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.25vw;
    line-height: 2;
    letter-spacing: 0.3vw;
  }
  .text {
    color: white;
    font-family: "Pragati Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;
    line-height: 2;
    padding-left: 1vw;
  }
  .line {
    background: white;
    width: 100%;
    height: 0.1vh;
  }
  .bot-line {
    margin-top: 3vw;
  }
  .profile-bar {
    width: 20vw;
    height: 75vh;
    background: rgba(0,0,0,0.45);
    border: none;
    border-radius: 0.6vw;
    position: fixed;
  }
</style>
