<div class="form-container">
  <div class="form-background">
    <img class="signup-logo" alt="" src="/assets/logo.png"/>
    <div class="form-content">

      <div class="login-fields">
        <div class="input-container">
          <div class="input-text">Username</div>
          <input type="text" class="field-input" #usernameInput>
        </div>
        <div class="input-container">
          <div class="input-text">Password</div>
          <input type="password" class="field-input" #passwordInput>
        </div>
      </div>

      <div class="button-row">
        <button class="cancel" (click)="navigateTo('/')">CANCEL</button>
        <button class="login" (click)="tryLogin(usernameInput.value, passwordInput.value)">LOGIN</button>
      </div>
      <div class="form-footer">
        <div class="footer-text">Don't have an account yet?
          <a class="login-click" (click)="navigateTo('/sign_up')">Sign Up</a>
        </div>
      </div>

    </div>
  </div>
</div>

