<app-nav-menu></app-nav-menu>

<div class="table-container">
  <table>
    <tr>
      <th class="corner"></th>
      <th class="header-cell" *ngFor="let day of ['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT']">
        <span class="cell-text">{{ day }}</span>
      </th>
    </tr>
    <ng-container *ngFor="let row of table; let i = index">
      <tr>
        <th class="header-cell"><span class="cell-text">{{ getShortTime(getFirstNonNullStartTime(row)) }}</span></th>
        <td class="cell" *ngFor="let cell of row; let j = index">
          <div class="cell-content">
            <span class="cell-body" *ngIf="cell">{{ cell.type }}</span>
            <span class="cell-body2" *ngIf="cell">{{ cell.trainer_fname + ' ' + cell.trainer_lname }}</span>
            <div class="purchase-container">
              <span class="cell-body2" *ngIf="cell">{{ cell.price + '$'}}</span>
              <button *ngIf="cell && role === 0" class="purchase" (click)="purchaseClass(cell)">PURCHASE</button>
            </div>
          </div>
        </td>
      </tr>
    </ng-container>
  </table>
</div>

<style>

  .purchase-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5vw;
  }
  .cell {
    padding-bottom: 0.6vw;
  }
  .cell-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .purchase {
    width: 3.2vw;
    height: 3vh;
    background-color: #3B9972;
    color: white;
    font-family: "Pragati Narrow", sans-serif;
    font-style: normal;
    font-size: 0.6vw;
    border-radius: 0.5vw;
    border: none;
  }
  .purchase:hover  {
    background-color: #40a67b;
    cursor: pointer;
  }
  .purchase:active {
    background-color: #45b686;
  }

  .table-container {
    padding-top: 20vh;
    padding-left: 15.5vw;
  }
  table {
    width: 80%;
    height: 80%;
    border-spacing: 0.3vw;
  }

  .cell-text {
    color: white;
    font-family: "Pragati Narrow", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.7vw;
    text-align: center;
    letter-spacing: 0.1vw;
    text-transform: uppercase;
  }
  .cell-body {
    color: white;
    font-family: "Pragati Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3vw;
    text-align: center;
    letter-spacing: 0.1vw;
  }
  .cell-body2 {
    color: white;
    font-family: "Pragati Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9vw;
    text-align: center;
    letter-spacing: 0.1vw;
  }

  .corner {
    width: 8.5vw;
    height: 11.5vh;
    background: #27724f;
    opacity: 50%;
    border: 0.15vw solid black;
  }
  .header-cell {
    background: #40a67b !important;
    border: 0.15vw solid black;
  }
  .cell {
    width: 8.5vw;
    height: 11.5vh;
    background: rgba(0,0,0,0.60);
  }

</style>
